.projects-box {
  h2 {
    padding-bottom: 0.5rem;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #222;
    text-align: center;
  }
  span {
    display: block;
    margin-bottom: 2rem;
    font-weight: 400;
  }
  .protxt-span {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 2rem;
  }
}

//불릿 관련
.swiper-button-prev, .swiper-button-next{
  height: 100%;
  top: -40%;
}
.swiper-pagination{
  display: flex;
  justify-content:flex-end;
}